// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align:center;
}
table {
	border-collapse:collapse;
	min-width:1000px;
	margin-left:auto;
	margin-right:auto;
}
tr a:link, a:visited, a:hover, a:active  {
	color:#000000;
	text-decoration:underline;
}
td {
	padding:5px;
	text-align:center;
}
.even {
	background-color:#E0E0E0;
}
.title {
	min-width: 600px;
	font-size:1.2em;
}
#food2fork {
	text-align: center;
	font-size:1.3em;
	font-weight:bold;
}
#food2fork a:link, a:visited, a:hover, a:active {
	text-decoration:none;
}
